article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary { display: block; }
audio,canvas,video { display: inline-block; }
audio:not([controls]) { display: none; height: 0; }
[hidden], .hidden { display: none; }
body { margin: 0; padding: 0; }
abbr[title] { border-bottom: 1px dotted; }
b,strong { font-weight: 700; }
dfn { font-style: italic; }
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }
code,kbd,pre,samp { font-family: monospace, serif; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word;}
q { quotes: none; }
q:before,q:after { content: ''; content: none; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup {  top: -0.5em; }
sub { bottom: -0.25em; }
dd { margin: 0; }
menu,ol,ul { padding: 0; }
nav ul,nav ol { list-style: none; list-style-image: none; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
legend {  white-space: normal; }
button,input,select,textarea { margin: 0; }
button,input { line-height: normal; }
button,html input[type="button"],input[type="reset"],input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled],html input[disabled] { cursor: default; }
input[type="checkbox"],input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] {  -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner,input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; }
table { border-collapse: collapse; border-spacing: 0; }

/*
	Suggested order:	
	Positioning
	Display and box model
	Other (decoration, typography, etc)
*/

@font-face {
	font-family: "Fira Sans";
	src: url(../gfx/FiraSans/FiraSans-Regular.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Fira Sans";
	src: url(../gfx/FiraSans/FiraSans-RegularItalic.woff) format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: "Fira Sans";
	src: url(../gfx/FiraSans/FiraSans-Medium.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Fira Sans";
	src: url(../gfx/FiraSans/FiraSans-Light.woff) format("woff");
	font-weight: 200;
	font-style: normal;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}
html {
	font-size: 62.5%;
}
body {
	background:  #fff;
	color: #333;
}
body,
input,
textarea,
button {
	font-size: 1.3rem;
	line-height: 1.6rem;
	font-family: "Fira Sans", Trebuchet MS, sans-serif;
}
textarea {
	display: block;
}
header {
	margin: auto;
	background: #2B506F;
	height: 4.8rem;
	border-bottom: 3px solid #FF9500;
}
h1 {
   color: #444;
}
h1, h2 {
	margin: 0.8rem 0 0.8rem 0;
	font-size: 1.8rem;
	line-height: 2rem;
	font-weight: 400;
}
h2 {
	color: #FF9000;
}
form h2 {
	margin-top: 2rem;
}
.signed {
	background-image: url(../gfx/Certificate.svg);
	background-repeat: no-repeat;
	background-position: 95% 98%;
}
.unsigned {
	position: relative;
	display: inline-block;
	width: 15px;
	height: 17px;
	background: transparent url(../gfx/Certificate.svg) 0 0 no-repeat;
	text-align: left;
	text-indent: -1000em;
	overflow: hidden;
}

h2 a,
h2 a:hover,
h2 a:focus, 
h2 a:active {
	color: #FF9000;
	text-decoration: none;
}

h3,
h4 {
	margin: 0.8rem 0 0 0;
	font-size: 1.3rem;
	line-height: 1.6rem;
	font-weight: 700;
}
h4 {
	font-weight: 400;
	font-style: italic;
}
p {
	margin: 0.4rem 0 0 0;
	font-weight: 400;
/*	max-width: 60rem;*/
}
a {
	color: #1B759A;
	text-decoration: none;
}
a:hover,
a:focus,
a:active {
	color: #16364E;
	text-decoration: none;
}
footer {
	margin-top: 1.6rem;
	margin-right: 1rem;
	height: 3.2rem;
	padding: 0.8rem 1rem 0 1rem;
	text-align: center;
	border-top: 1px solid #E6E6E6;
	font-size: 1.1rem;
	font-weight: 400;
	color: #666;
}
footer .version {
   color: #fff;
}
hr {
	width: 50%;
	height: 0;
	margin: 0.6rem auto;
	border: 0;
	border-top: 1px solid #E6E6E6;
	background: transparent;
}

.headerwrapper {
	margin: auto;
	max-width: 980px;
	padding: 0 1.6rem;
}
.headerwrapper:after {
 	content: '';
 	display: table;
 	clear: both;
}
.headerwrapper a {
	display: inline-block;
}

.mainmenu {
	float: right;
	margin: 0;
	list-style: none;
}
.mainmenu li {
	display: inline-block;
	color: #fff;
	height: 45px;
	vertical-align: top;
}

.contentwrapper {
	position: relative;
	margin: 0 auto;
	max-width: 980px;
	padding: 1.6rem;
}
.contentmargins {
	margin-left: 26rem;
	margin-right: 1rem;
}
.list {
	display: inline-block;
	height: 45px;
	width: 45px;
	margin: 2px 0 0;
	background: transparent url(../gfx/List.svg) no-repeat 50% 50%;
	text-indent: -200px;
	text-align: left;
	overflow: hidden;
}
.list:hover,
.list:focus,
.list:active,
.list.active {
	background-color: #2D353D;
}
.work {
	position: relative;
	background: url(../gfx/work.svg) 50% 50% no-repeat;
	height: 45px;
	width: 45px;
}
.work:hover,
.work:focus,
.work:active,
.work.active {
	background-color: #2D353D;
}
.notification {
	position: absolute;
	top: 5px;
	right: 5px;
	background: #CB0011;
	color: #fff;
	line-height: 12px;
	padding: 3px 3px 2px 3px;
	border-radius: 5px;
	text-indent: 0;
}
.notifications .neutral:before {
    content: url(../gfx/Info.svg);
    padding-right: 1rem;
    position: relative;
    top: 3px;
}
.notifications .neutral {
    background: none repeat scroll 0 0 #fafbfc;
    border: 1px solid #e1e7ed;
}
.search {
	height: 45px;
	width: 45px;
	background: url(../gfx/search.svg) 50% 50% no-repeat;
	text-indent: -100px;
	text-align: left;
	overflow: hidden;
	
}
.search:hover,
.search:focus,
.search:active,
.search.active {
	background-color: #2D353D;
}
.headermargins {
	max-width: 980px;
}

.articlewrap:after {
	content: '';
	display: table;
	clear: both;
}
.articlewrap + .articlewrap {
	margin-top:  12px; /* 1rem (10px) + ülemine alumine raam 1px = 12px */
}

article {
	float: left;
	width: 50%;
}
article:nth-child(even) a {
	margin: 0 0 0 .4rem;
}
.articlelink {
	display: block;
	min-height: 8rem;
	margin: 0 .4rem 0 0;
	padding: .5rem 1rem;
	border: 1px solid #E6E6E6;
	text-decoration: none;
	color: black;
}
.articlelink:hover,
.articlelink:focus,
.articlelink:active {
	-moz-box-shadow: 0 0 2px 1px rgba(0,0,0,0.20);
	-webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,0.20);
	box-shadow: 0 0 2px 1px rgba(0,0,0,0.20);
}
.articlelink.unread {
	background-color: #ecf2f8;
}
.articlelink.unread:hover,
.articlelink.unread:focus,
.articlelink.unread:active {
	-moz-box-shadow: 0 0 2px 1px rgba(43, 80, 111, 0.20);
	-webkit-box-shadow: 0 0 2px 1px rgba(43, 80, 111, 0.20);
	box-shadow: 0 0 2px 1px rgba(43, 80, 111, 0.20);
}
.deadline {
	float: right;
	margin-top: 0;
}
.documentkind {
	float: right;	
	margin: 0 0 0 6px;
}
.deadline.urgent {
	display: inline-block;
	color: #CE090F;
}
.deadline.urgent:before {
	content: '';
	padding: 0 3px 3px 9px;
	background: transparent url(../gfx/Urgent.svg) 0 0 no-repeat;
}

.searchmain {
	float: left;
	width: 34%;
	padding-right: 1rem;
}
.searchmain input {
	width: 90%;
}
.searchadvanced {
	float: left;
	width: 64%;
}
.searchadvanced h2:first-child {
	margin-top: 0;
}

.valuerow:after {
	content: '';
	display: table;
	clear: both;
}
.valuerow .desc {
	float: left;
	width: 34%;
	padding-right: 1rem;
	text-align: right;
	color: #888;
}
.valuerow .value {
	float: left;
	width: 64%;
}
.valuerow.bold {
	font-weight: bold;
}
.filethumbnails {
	margin: 1rem 0 0;
	padding: 0;
	list-style: none;
}
.filethumbnails li {
	margin-bottom: 1rem;
	margin-right: 0.5rem;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	overflow: hidden;
	word-wrap: break-word;
	border: solid 1px #D8EAF0;
	border-radius: 3px;
	background-color: #F7FAF2/* url(rosett_outline.svg) 25px 50% no-repeat*/;
	border: 1px solid #E6E6E6;
	/*font-size: 1rem;*/
	text-align: left;
	color: black;
	text-decoration: none;


	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
}
.filethumbnails.signable li {
	border-color: #9CC27A;
	background-color: #F3FEE8;
}
.filethumbnails li a {
	display: block;
	text-decoration: none;
	color: black;
}
.mainfile {
	border: solid 2px #89EB33 !important;
}

.trigger {
	margin-left: -1rem;
	padding-left: 1rem;
	background: url(../gfx/Expander.svg) 1px no-repeat;
}
.trigger.active {
	margin-left: -1rem;
	padding-left: 1rem;
	background: url(../gfx/Expander_down.svg) 0 0.6rem no-repeat;
}
.expander {
	margin-bottom: 20px;
}
.expander:after {
	content: "";
	display: table;
	clear: both;
}
.js .expander {
	display: none;
}
.js .expander.active {
	display: block;
}
.readmore {
	position: relative;
	overflow: hidden;
}
.readmore.active {
	height: 5.2rem;
	max-height: 5.2rem;
}
.readmore .more {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: right;
	background: rgba(255, 255, 255, .95);
	cursor: pointer;
}
#screen {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, .75);
	overflow: hidden;
	opacity: 0;
	transition: opacity .1s ease-in-out;
}
#screen.active {
	opacity: 1;
}
#screen.close {
	opacity: 0;
}
#alert {
	position: relative;
	width: 300px;
	margin: 10px auto;
	padding: 1rem;
	background: #fff;
	-moz-box-shadow: 0 0 2px 1px rgba(0, 0 ,0 , 0.2);
	-webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
	top: 25%;
}
#alert h2 {
	margin: 0;
	font-size: 1.4rem;
	text-align: center;
}
#alert .buttongroup {
	text-align: center;
}
.buttongroup {
	padding: .5rem 0 .5rem 34%;
}
.formrow .buttongroup {
	padding-left: 34%;
}
button,
.buttongroup a {
	display: inline-block;
	height: 2.5rem;
	margin: 0.1rem;
	padding: 0 2rem;
	line-height: 2.5rem;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
	text-decoration: none;
	background-image: none;
	background-color: #214e71;
	color: #fff;
	outline: none;
	-webkit-transition: background .1s linear;
	-moz-transition: background .1s linear;
	transition: background .1s linear;
}
button:hover,
button:focus,
button:active {
	background-color: #16364E;
	-moz-box-shadow: 0 0 2px 1px rgba(0,0,0,0.20);
	-webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,0.20);
	box-shadow: 0 0 2px 1px rgba(0,0,0,0.20);
}
.buttongroup a.alt {
	color: #214e71;
	background: transparent;
}
.buttongroup .disabled,
button[disabled], html input[disabled] {
	background-color: gray;
	cursor: default;
}
.sidebar {
	position: absolute;
	width: 24rem;
	margin: 0;
	padding: 0;
	background: #2D353D;
	list-style: none;
	
}
.sidebarcontent {
	list-style: none;
	line-height: 2rem;
	font-size: 1.4rem;
}
.sidebarcontent a {
	display: block;
	margin: 0 1rem;
	padding: 1rem 0;
	text-decoration: none;
	color: white;
	border-top: 1px solid #3B444D;
}

.sidebarcontent a:hover {
	text-decoration: underline;
}

.sidebarcontent li:first-child a {
	border-top: none 0;
}
.sidebarcontent h2 {
	padding: 1rem;
	margin: 0;
	font-size: 1.6rem;
	line-height: 2rem;
}
.activenavitem {
	background: #171D23;
}
.formrow:after {
	content: '';
	display: table;
	clear: both;
}
input {
	margin: 0;
	padding: 4px;
	border: 1px solid #E6E6E6;
	border-radius: 2px;
	background: #fff;
	font-size: 1.2rem;
}
textarea {
	position: relative;
	top: 1px;
	padding: 4px;
	border: 1px solid #E6E6E6;
	border-radius: 2px;
	background: #fff;
	font-size: 1.2rem;
	width: 360px;
	max-width: 100%;
}
input,
textarea {
	outline: none;
	-webkit-transition: height .1s ease-in-out, border-color .1s linear;
	-moz-transition: height .1s ease-in-out, border-color .1s linear;
	transition: height .1s ease-in-out, border-color .1s linear;
}
input:focus,
textarea:focus {
	border-color:  #214e71;
}
input[type="checkbox"],
input[type="radio"],
input[type="file"] {
	padding: 0;
	border: 0 none;
}
.form {
	margin: .5rem 0;
	padding: 0;
	list-style: none;
	line-height: 2.1;
}
.form ul, 
.form ol {
	list-style: none;
	padding: 0;
}
.form .formlabel {
	float: left;
	width: 34%;
	min-height: 1px;
	text-align: right;
	padding: 0 1rem 0 0;
	color: #888;
}
.form .formcontent {
	float: left;
	width: 66%;
}
.formcontent li {
	margin: 0;
	line-height: 2.1rem;
}

.form.small .formlabel {
	width: 50%;
}
.form.small .formcontent {
	width: 50%;
}
.form.small .buttongroup {
	margin-left: -1px;
	padding: 0 0 .5rem 50%;
}

.formrow.error,
.formrow.error .formlabel,
.formrow.error .message {
	color: #CE090F;
}
.formrow.error .message {
	display: block;
}
.formrow.error input,
.formrow.error textarea {
	color: #CE090F;
	border-color: #CE090F;
}

.form .searchrow {
	margin-bottom: 3rem;
	padding-left: 34%;
}

.form.single {
	max-width: 100%;
	text-align: center;
}

.formspacer {
	display: inline-block;
	margin-right: 2rem;
}

.form.large .formrow + .formrow {
	margin-top: 1.5em;
}

.rowactions {
	position: relative;
}
.rowactions .remove {
	position: absolute;
	right: 0;
}
.rowactions .remove a {
	display: inline-block;
	width: 12px;
	background: transparent url(../gfx/Dumster.svg) 100% 50% no-repeat;
	text-indent: -10000em;
	overflow: hidden;
}
.notifications p {
	margin: auto;
	margin-bottom: 1rem;
	min-height: 3rem;
	padding: 1rem;
	max-width: 80rem;
	text-align: center;
	border-radius: 3px;
}
.notifications .confirmation {
	background: #B3FEDB;
}
.notifications .confirmation:before {
	position: relative;
	top: 3px;
	padding-right: 1rem;
	content: url(../gfx/OK.svg);
}
.notifications .warning {
	background: #FBFD84;
}
.notifications .warning:before {
	position: relative;
	top: 3px;
	padding-right: 1rem;
	content: url(../gfx/Warning.svg);
}
.notifications .error {
	background: #FFADA7;
}
.notifications .error:before {
	position: relative;
	top: 3px;
	padding-right: 1rem;
	content: url(../gfx/Error.svg);
}
.pager {
	margin: 1.6rem auto;
	list-style: none;
	text-align: center;
}
.pager li {
	display: inline-block;
}
.pager li a {
	display: inline-block;
	margin: 0 0 .3rem;
	padding: 0.4rem 2rem 0.4rem 2rem;
	min-width: 5rem;
	border: 1px solid #E6E6E6;
	text-decoration: none;
	color: #000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.pager li a:hover {
	border: 1px solid #898989;
}
.pager .pageractive {
	border: 2px solid #ff9000;
	font-weight: 700;
}
.pager .pageractive:hover {
	border: 2px solid #ff9000;
}
.pager .pagerseparator {
	display: inline-block;
	min-width: 5rem;	
}
.pager .all {
	border: none;
	color: #214e71;
}
.pager .all:hover,
.pager .all:focus,
.pager .all:active {
	border: none;
	text-decoration: underline;
}

.token-input-list {
	position: relative;
	top: 2px;
	width: 360px;
	border: 1px solid #e6e6e6;
	background: #fff;
	border-radius: 2px;
}
.token-input-list:after {
	content: '';
	display: table;
	clear: both;
}
.token-input-input-token,
.token-input-input-token input {
	border: 0 none;
	background: transparent;
}
.token-input-input-token {
	line-height: 1.8;
}
.token-input-input-token input {
	padding: 3px 4px 4px;
}
.token-input-token {
	float: left;
	padding: 0 4px 2px;
	margin: 1px !important;
	line-height: 1.5 !important;
	border: 0 none;
	background: #f5f5f5;
	border-radius: 2px;
}
.token-input-selected-token {
	background: #f00;
	color: #fff;
}
.token-input-delete-token {
	display: inline-block;
	padding: 0 .5rem 0 .75rem;
	color: #f00;
	cursor: pointer;
}
.token-input-selected-token .token-input-delete-token {
	color: #fff;
}
.token-input-dropdown {
	width: 360px;
	margin-top: 1px;
	padding: .5rem;
	line-height: 1.25;
	border: 1px solid #e6e6e6;
	border-radius: 2px;
	background: #fff;
	z-index: 9999;
	position: absolute;
}
.token-input-dropdown ul {
	margin: -0.5rem;
	padding: 0;
	list-style: none;
	overflow: hidden;
	line-height: 1.25;
}
.token-input-dropdown li {
	padding: 0.35rem .5rem;
	cursor: pointer;
}
.token-input-dropdown li:hover {
	background-color: #f7f7f7;
}
.token-input-dropdown li + li {
	margin-top: 5px;
}
.token-input-dropdown .name {
	color: #ff9000;
}
.token-input-dropdown .id {
	display: block;
	font-size: 1.2rem;
	color: #444;
}

.tabs {
	margin: 0;
	padding: 0;
	list-style: none;
}
.tabs section {
	display: none;
}
.tabs section.active {
	display: block;
}
.tablinks {
	border-bottom: 1px solid #ff9500;
	text-align: center;
}
.tablinks li {
	display: inline-block;
}
.tablinks a {
	padding: 1rem;
	color: #aaa;
	text-decoration: none;
}
.tablinks a.active {
	color: #1B759A;
}


/* ------------------ BIG ------------------ */
@media screen and (min-width:1100px) {
	body {
		font-size: 1.4rem;
		line-height: 1.8;
	}
	input, textarea, select, button {
		font-size: 1.4rem;
	}
	h1, h2 {
		margin: 0.7rem 0 0.7rem 0;
		line-height: 2.8rem;
		font-size: 2.4rem;
		font-weight: 400;
	}
	h2 {
		color: #FF9000;
	}
	h2 a {
		color: #FF9000;
		text-decoration: none;
	}
	h3,
	h4 {
		margin: 0.7rem 0 0 0;
		line-height: 2.1rem;
		font-size: 1.6rem;
		font-weight: 700;
	}
	h4 {
		font-weight: 400;
		font-style: italic;
	}
	p {
		line-height: 2.1rem;
	}
	
	.readmore.active {
		height: 9rem;
		max-height: 9rem;
	}
	
	.token-input-input-token input {
		padding-top: 5px;
	}
}

/* ------------------ Phone ------------------ */
@media screen and (max-width:640px) {
	
	p {
		margin: .5rem 0 0
	}
	.contentwrapper {
		margin: 0 1.6rem 0 1.6rem;
		padding: 0;
		overflow: visible;
	}
	.menuitems {
		margin-left: 1rem;
		display: inline-block;
		color: white;
	}
	.contentmargins {
		margin: 0;
	}
	.articlelink {
		text-decoration: none;
		color: black;
		min-height: 0;
		margin: 0;
		border: 0;
	}
	article {
		width: 100%;
		float: none;
		border-bottom: 1px solid #E6E6E6;
		border-top: 1px solid #E6E6E6;
	}
	article + article {
		border-top: none;
	}
	article:first-child {
		border-top: none;
	}
	article h3 {
		margin-top: 0;
		padding-top: .5rem;
	}
	.articlelink {
		padding: .5rem 5px;
	}
	
	.articlelink:hover,
	.articlelink:focus,
	.articlelink:active {
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.articlelink.unread:hover,
	.articlelink.unread:focus,
	.articlelink.unread:active {
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	article:nth-child(odd) a,
	article:nth-child(even) a {
		margin: 0;
	}
	.form .formlabel,
	.form .formcontent {
		width: 100%;
	}
	.form .searchrow {
		margin-bottom: 1rem;
		padding-left: 0;
	}
	
	textarea {
		width: 100%;
	}
	.deadline {
		clear: both;
		float: right;
		margin-top: .5rem;
	}
	.documentkind {
		position: relative;
		clear: both;
		float: right;	
		margin-top: -1.8rem;
		padding-left: .5rem;
		background: rgba(255, 255, 255, .9);
	}
	.sidebar {
		display: none;
	}	
	.form input[type="radio"] + label,
	.form input[type="checkbox"] + label {
		display: inline-block;
	}
	
	.form .formrow + .formrow {
		margin-top: 1rem;
	}
	.form.small .formrow + .formrow {
		margin-top: 0;
	}
	.form .formlabel {
		float: none;
		display: block;
		width: auto;
		padding: 0;
		text-align: left;
	}
	
	.form.small .formlabel {
		float: left;
		width: 40%;
		text-align: right;
		padding: 0 1rem 0 0;
	}
	.form.small .formcontent {
		float: left;
		width: 60%;
		text-align: left;
	}
	.form.small .buttongroup {
		padding-left: 40%;
		text-align: left;
	}
	.token-input-list {
		width: 100%;
	}
	
	.buttongroup {
		padding: 0;
		text-align: right;
	}
	
	.articlewrap + .articlewrap {
		margin-top: 0;
	}
	
	.articlelink.unread .documentkind {
		margin-top: -1.65rem;
		background: rgba(236, 242, 248, .9);
	}
}

/* ==========================================================================
   $BASE-PICKER
   ========================================================================== */
/**
 * Note: the root picker element should __NOT__ be styled
 * more than what’s here. Style the `.picker__holder` instead.
 */
.picker {
  font-size: 16px;
  text-align: left;
  line-height: 1.2;
  color: #000000;
  position: absolute;
  z-index: 10000;
}
/**
 * The picker input element.
 */
.picker__input {
  cursor: default;
}
/**
 * When the picker is opened, the input element is “activated”.
 */
.picker__input.picker__input--active {
  border-color: #0089ec;
}
/**
 * The holder is the only “scrollable” top-level container element.
 */
.picker__holder {
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/*!
 * Classic picker styling for pickadate.js
 * Demo: http://amsul.github.io/pickadate.js
 */
/**
 * Note: the root picker element should __NOT__ be styled
 * more than what’s here. Style the `.picker__holder` instead.
 */
.picker {
  width: 100%;
  max-width: 360px;
}
/**
 * The holder is the base of the picker.
 */
.picker__holder {
  position: absolute;
  background: #ffffff;
  border: 1px solid #aaaaaa;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 176px;
  max-width: 466px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  max-height: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  /*-webkit-transform: translateY(-1em) perspective(600px) rotateX(10deg);
  -moz-transform: translateY(-1em) perspective(600px) rotateX(10deg);
  transform: translateY(-1em) perspective(600px) rotateX(10deg);
  -webkit-transition: all 0.15s ease-out, max-height 0 0.15s;
  -moz-transition: all 0.15s ease-out, max-height 0 0.15s;
  transition: all 0.15s ease-out, max-height 0 0.15s;*/
}
/**
 * When the picker opens...
 */
.picker--opened .picker__holder {
  max-height: 25em;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transform: translateY(0) perspective(600px) rotateX(0);
  -moz-transform: translateY(0) perspective(600px) rotateX(0);
  transform: translateY(0) perspective(600px) rotateX(0);
  -webkit-transition: all 0.1s ease-out, max-height 0;
  -moz-transition: all 0.1s ease-out, max-height 0;
  transition: all 0.1s ease-out, max-height 0;
  -webkit-box-shadow: 0 6px 18px 1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 6px 18px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 6px 18px 1px rgba(0, 0, 0, 0.12);
}

/* ==========================================================================
   $BASE-DATE-PICKER
   ========================================================================== */
/**
 * The picker box.
 */
.picker__box {
  padding: 0 1em;
}
/**
 * The header containing the month and year stuff.
 */
.picker__header {
  text-align: center;
  position: relative;
  margin-top: .75em;
}
/**
 * The month and year labels.
 */
.picker__month,
.picker__year {
  font-weight: 500;
  display: inline-block;
  margin-left: .25em;
  margin-right: .25em;
}
.picker__year {
  color: #999999;
  font-size: .8em;
  font-style: italic;
}
/**
 * The month and year selectors.
 */
.picker__select--month,
.picker__select--year {
  font-size: .8em;
  border: 1px solid #b7b7b7;
  height: 2.5em;
  padding: .5em .25em;
  margin-left: .25em;
  margin-right: .25em;
  margin-top: -0.5em;
}
.picker__select--month {
  width: 35%;
}
.picker__select--year {
  width: 22.5%;
}
.picker__select--month:focus,
.picker__select--year:focus {
  border-color: #0089ec;
}
/**
 * The month navigation buttons.
 */
.picker__nav--prev,
.picker__nav--next {
  position: absolute;
  top: -0.33em;
  padding: .5em 1.33em;
  width: 1em;
  height: 2em;
}
.picker__nav--prev {
  left: -1em;
  padding-right: 1.5em;
}
.picker__nav--next {
  right: -1em;
  padding-left: 1.5em;
}
.picker__nav--prev:before,
.picker__nav--next:before {
  content: " ";
  border-top: .5em solid transparent;
  border-bottom: .5em solid transparent;
  border-right: 0.75em solid #000000;
  width: 0;
  height: 0;
  display: block;
  margin: 0 auto;
}
.picker__nav--next:before {
  border-right: 0;
  border-left: 0.75em solid #000000;
}
.picker__nav--prev:hover,
.picker__nav--next:hover {
  cursor: pointer;
  color: #000000;
  background: #b1dcfb;
}
.picker__nav--disabled,
.picker__nav--disabled:hover,
.picker__nav--disabled:before,
.picker__nav--disabled:before:hover {
  cursor: default;
  background: none;
  border-right-color: #f5f5f5;
  border-left-color: #f5f5f5;
}
/**
 * The calendar table of dates
 */
.picker__table {
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  font-size: inherit;
  width: 100%;
  margin-top: .75em;
  margin-bottom: .5em;
}
@media (min-height: 33.875em) {
  .picker__table {
    margin-bottom: .75em;
  }
}
.picker__table td {
  margin: 0;
  padding: 0;
}
/**
 * The weekday labels
 */
.picker__weekday {
  width: 14.285714286%;
  font-size: .75em;
  padding-bottom: .25em;
  color: #999999;
  font-weight: 500;
  /* Increase the spacing a tad */

}
@media (min-height: 33.875em) {
  .picker__weekday {
    padding-bottom: .5em;
  }
}
/**
 * The days on the calendar
 */
.picker__day {
  padding: .3125em 0;
  font-weight: 200;
  border: 1px solid transparent;
}
.picker__day--today {
  color: #0089ec;
  position: relative;
}
.picker__day--today:before {
  content: " ";
  position: absolute;
  top: 2px;
  right: 2px;
  width: 0;
  height: 0;
  border-top: 0.5em solid #0059bc;
  border-left: .5em solid transparent;
}
.picker__day--selected,
.picker__day--selected:hover {
  border-color: #0089ec;
}
.picker__day--highlighted {
  background: #b1dcfb;
}
.picker__day--disabled:before {
  border-top-color: #aaaaaa;
}
.picker__day--outfocus {
  color: #dddddd;
}
.picker__day--infocus:hover,
.picker__day--outfocus:hover {
  cursor: pointer;
  color: #000000;
  background: #b1dcfb;
}
.picker__day--highlighted:hover,
.picker--focused .picker__day--highlighted {
  background: #0089ec;
  color: #ffffff;
}
.picker__day--disabled,
.picker__day--disabled:hover {
  background: #f5f5f5;
  border-color: #f5f5f5;
  color: #dddddd;
  cursor: default;
}
.picker__day--highlighted.picker__day--disabled,
.picker__day--highlighted.picker__day--disabled:hover {
  background: #bbbbbb;
}
/**
 * The footer containing the "today" and "clear" buttons.
 */
.picker__footer {
  text-align: center;
}
.picker__button--today,
.picker__button--clear {
  border: 1px solid #ffffff;
  background: #ffffff;
  font-size: .8em;
  padding: .66em 0;
  font-weight: bold;
  width: 50%;
  display: inline-block;
  vertical-align: bottom;
  
  height: auto;
  margin: 0;
  color: #444;
}
.picker__button--today:hover,
.picker__button--clear:hover {
  cursor: pointer;
  color: #000000;
  background: #b1dcfb;
  border-bottom-color: #b1dcfb;
}
.picker__button--today:focus,
.picker__button--clear:focus {
  background: #b1dcfb;
  border-color: #0089ec;
  outline: none;
}
.picker__button--today:before,
.picker__button--clear:before {
  position: relative;
  display: inline-block;
  height: 0;
}
.picker__button--today:before {
  content: " ";
  margin-right: .45em;
  top: -0.05em;
  width: 0;
  border-top: 0.66em solid #0059bc;
  border-left: .66em solid transparent;
}
.picker__button--clear:before {
  content: "\D7";
  margin-right: .35em;
  top: -0.1em;
  color: #ee2200;
  vertical-align: top;
  font-size: 1.1em;
}

/* ==========================================================================
   $CLASSIC-DATE-PICKER
   ========================================================================== */

/* ==========================================================================
   $BASE-TIME-PICKER
   ========================================================================== */
/**
 * The list of times.
 */
.picker__list {
  list-style: none;
  padding: 0.75em 0 4.2em;
  margin: 0;
}
/**
 * The times on the clock.
 */
.picker__list-item {
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  margin-bottom: -1px;
  position: relative;
  background: #ffffff;
  padding: .75em 1.25em;
}
@media (min-height: 46.75em) {
  .picker__list-item {
    padding: .5em 1em;
  }
}
/* Hovered time */
.picker__list-item:hover {
  cursor: pointer;
  color: #000000;
  background: #b1dcfb;
  border-color: #0089ec;
  z-index: 10;
}
/* Selected time */
.picker__list-item--selected,
.picker__list-item--selected:hover {
  border-color: #0089ec;
  z-index: 10;
}
/* Highlighted time */
.picker__list-item--highlighted {
  background: #b1dcfb;
}
/* Highlighted and hovered/focused time */
.picker__list-item--highlighted:hover,
.picker--focused .picker__list-item--highlighted {
  background: #0089ec;
  color: #ffffff;
}
/* Disabled time */
.picker__list-item--disabled,
.picker__list-item--disabled:hover,
.picker--focused .picker__list-item--disabled {
  background: #f5f5f5;
  border-color: #f5f5f5;
  color: #dddddd;
  cursor: default;
  border-color: #dddddd;
  z-index: auto;
}
/**
 * The clear button
 */
.picker--time .picker__button--clear {
  display: block;
  width: 80%;
  margin: 1em auto 0;
  padding: 1em 1.25em;
  background: none;
  border: 0;
  font-weight: 500;
  font-size: .67em;
  text-align: center;
  text-transform: uppercase;
  color: #666;
}
.picker--time .picker__button--clear:hover,
.picker--time .picker__button--clear:focus {
  color: #000000;
  background: #b1dcfb;
  background: #ee2200;
  border-color: #ee2200;
  cursor: pointer;
  color: #ffffff;
  outline: none;
}
.picker--time .picker__button--clear:before {
  /*top: -0.25em;*/
  color: #666;
  font-size: 1.25em;
  font-weight: bold;
}
.picker--time .picker__button--clear:hover:before,
.picker--time .picker__button--clear:focus:before {
  color: #ffffff;
}

/* ==========================================================================
   $CLASSIC-TIME-PICKER
   ========================================================================== */
/**
 * Note: the root picker element should __NOT__ be styled
 * more than what’s here. Style the `.picker__holder` instead.
 */
.picker--time {
  min-width: 256px;
  max-width: 320px;
}
/**
 * The holder is the base of the picker.
 */
.picker--time .picker__holder {
  background: #f2f2f2;
}
@media (min-height: 40.125em) {
  .picker--time .picker__holder {
    font-size: .875em;
  }
}
/**
 * The box contains the list of times.
 */
.picker--time .picker__box {
  padding: 0;
}
/* FIXME this code should be removed and replaced with new UIG!
/* =modalpopup - copied from regular Delta main.css
-------------------------------------------------- */
#overlay,
.submit-protection-layer {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 90000 !important;
	width: 100%;
	height: 100%;
	background: #808080;
	opacity: 0.5;
	filter:alpha(opacity=50);
}

.submit-protection-layer {
   display: block;
   z-index: 100000 !important;
   cursor: wait;
   filter: alpha(opacity=0);
   -moz-opacity: 0;
   opacity: 0;
}

#submit-protection-msg {
	background: red;
}

DIV.modalwrap {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 90000 !important;
	/*width: 450px;*/
	width: 503px;
	height: auto;
	margin: -250px 0 0 -250px;
	padding: 0;
	text-align: left;
}
DIV.modalpopup-large {
	width: 780px !important;
	margin-left: -390px !important;
}
DIV.modalwrap TABLE.data,
DIV.modalwrap TABLE.form {
	width: 100% !important;
}
DIV.modalpopup {
	display: none;
	padding: 4px;
	border: 1px solid;
	border-color: #b2b2b2 #808080 #808080 #b2b2b2;
	background: #fff;
	text-align: left;
}

/* header */

DIV.modalpopup-header {
	height: 35px;
	padding: 0 15px;
	background: #00467B url(../images/parts/menu-bg.png);
	color: #fff;
}
DIV.modalpopup-header H1 {
	float: left;
	width: 300px;
	margin: 10px 0 0;
	border: none;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}
DIV.modalpopup-header P.close {
	float: right;
	overflow: hidden;
	margin-top: 9px;
}
DIV.modalpopup-header P.close A {
	float: left;
	padding: 0 16px 0 0;
	border: none;
	background: url(../images/icons/bg_close.gif) no-repeat 100% 3px;
	color: #fff;
	outline: none;
	text-decoration: none;
}
DIV.modalpopup-header P.close A:hover {
	background-position: 100% -36px;
	color: #fff;
	text-decoration: underline;
}

/* content */

DIV.modalpopup-content {
	/*min-height: 200px;*/
	max-height: 470px;
	overflow: auto;
	overflow-y: auto;
	overflow-x: hidden;
}
DIV.modalpopup-content-inner {
	/*padding: 3px 15px 11px;*/
	padding: 11px 15px;
}
DIV.modalpopup-content TABLE.form TH {
	width: 25%;
}
DIV.modalpopup-content TABLE.form TD {
	width: 75%;
}
DIV.modalpopup-content TABLE.form TD INPUT.text {
	width: 200px;
}
DIV.modalpopup-content TABLE.form TD INPUT.small {
	width: 100px;
}
DIV.modalpopup-content TABLE.form TD INPUT.min {
	width: 50px;
}
DIV.modalpopup-content TABLE.form TD INPUT.wide {
	width: 90%;
}

/* footer */

DIV.modalpopup-footer {
	padding: 0 15px 8px;
	border-top: 1px solid #d0d0d0;
	background: #e8e8e8;
}
DIV.modalpopup-footer P {
	margin: 0;
	padding: 8px 0 0 !important;
	border: none !important;
	background: none !important;
}
DIV.modalpopup-footer P.action {
	text-align: right;
}
.invalid {
	border: 1px solid #CC0000;
	box-shadow: 0px 0px 5px #CC0000;
}
.modaltarget:after {
    background: url("../gfx/Expander.svg") no-repeat scroll 1px center rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 10px;
    width: 10px;
}
.modaltarget {
    color: #ff9000;
    font-weight: 700;
}
.modal-window {
	display: block;
	background: none repeat scroll 0 0 #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.modal-header {
	padding: 17px 20px 13px;
}
.modal-header, .modal-header h1, .modal-header a {
    color: #ff9000;
}
.modal-content {
    min-height: 100px;
    padding: 0 20px 20px;
}
.modal-buttons:before, .modal-buttons:after {
    content: " ";
    display: table;
}
.modal-buttons:after {
    clear: both;
}
.modal-buttons:before, .modal-buttons:after {
    content: " ";
    display: table;
}
.modal-buttons {
    padding: 0 20px 10px;
}
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp {
    border: 0 none;
    margin: 0;
    outline: medium none;
    padding: 0;
    vertical-align: top;
}
.fancybox-wrap {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 100;
}
.fancybox-skin {
    position: relative;
}
.fancybox-outer, .fancybox-inner {
    position: relative;
}
.fancybox-inner {
    overflow: hidden;
}
.fancybox-type-iframe .fancybox-inner {
}
#fancybox-loading {
    background-position: 0 -108px;
    cursor: pointer;
    left: 50%;
    margin-left: -22px;
    margin-top: -22px;
    opacity: 0.8;
    position: fixed;
    top: 50%;
}
#fancybox-loading div {
    background: url("fancybox_loading.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 44px;
    width: 44px;
}
.fancybox-close {
    background-image: url(../gfx/Close.svg);
    cursor: pointer;
    height: 16px;
    position: absolute;
    right: 9px;
    top: 11px;
    width: 16px;
}
.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}
.fancybox-lock body {
    overflow: hidden !important;
}
.fancybox-lock-test {
    overflow-y: hidden !important;
}
.fancybox-overlay {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    display: none;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
}
.fancybox-overlay-fixed {
    bottom: 0;
    position: fixed;
    right: 0;
}
.fancybox-lock .fancybox-overlay {
    overflow-x: auto;
    overflow-y: scroll;
}
.fancybox-title {
    display: none;
}
.covered {
	z-index: 2;
    overflow: hidden;
    position: "absolute";
    heigth: 100%;
    opacity: 0.5;
    background: "#CCCCCC";
    pointer-events: none;
}
.task-files {
	margin-left: 34%;
    width: 66%;
}
.task-files td {
    border: 1px solid #e6e6e6;
    line-height: 1;
    padding: 4px 8px;
}
.task-files .actions {
    white-space: nowrap;
    width: 1px;
}
.actions .remove {
    background: url(../gfx/Dumster.svg) no-repeat scroll 100% 50% transparent;
    display: block;
    height: 17px;
    overflow: hidden;
    text-indent: -10000em;
    width: 12px;
}
.file-upload-progress {
    position: absolute;
    width: 0%;
    z-index: -1;    
    background: #ff9500;
    opacity: 0.5;    
    transition:width 0.5s;
    margin-top: -5px;
    margin-left: -8px;
}

.float-left {
	float: left;
	border: 1px solid red;
	padding-left: 5px;
}
.float-right {
	float: right;
	border: 1px solid blue;
}
.download-img {
	background: transparent url(../gfx/download.png) 0 0 no-repeat;
}
.img {
	position: relative;
	display: inline-block;
	width: 15px;
	overflow: hidden;
}
.pdf-img {
	background: transparent url(../gfx/filetypes/pdf.png) 0 0 no-repeat;
}
.bmp-img {
	background: transparent url(../gfx/filetypes/bmp.png) 0 0 no-repeat;
}
.doc-img {
	background: transparent url(../gfx/filetypes/doc.png) 0 0 no-repeat;
}
.docx-img {
	background: transparent url(../gfx/filetypes/docx.png) 0 0 no-repeat;
}
.gif-img {
	background: transparent url(../gfx/filetypes/gif.png) 0 0 no-repeat;
}
.htm-img {
	background: transparent url(../gfx/filetypes/htm.png) 0 0 no-repeat;
}
.html-img {
	background: transparent url(../gfx/filetypes/html.png) 0 0 no-repeat;
}
.jpg-img {
	background: transparent url(../gfx/filetypes/jpg.png) 0 0 no-repeat;
}
.png-img {
	background: transparent url(../gfx/filetypes/png.png) 0 0 no-repeat;
}
.ppt-img {
	background: transparent url(../gfx/filetypes/ppt.png) 0 0 no-repeat;
}
.pptx-img {
	background: transparent url(../gfx/filetypes/pptx.png) 0 0 no-repeat;
}
.txt-img {
	background: transparent url(../gfx/filetypes/txt.png) 0 0 no-repeat;
}
.xdp-img {
	background: transparent url(../gfx/filetypes/xdp.png) 0 0 no-repeat;
}
.xls-img {
	background: transparent url(../gfx/filetypes/xls.png) 0 0 no-repeat;
}
.xlsx-img {
	background: transparent url(../gfx/filetypes/xlsx.png) 0 0 no-repeat;
}
.xslx-img {
	background: transparent url(../gfx/filetypes/xslx.png) 0 0 no-repeat;
}
.sign_icon-img {
	background: transparent url(../gfx/filetypes/sign_icon.svg) 0 0 no-repeat;
}

.eml-img { background: transparent url(../gfx/filetypes/eml.gif) 0 0 no-repeat; }
.exe-img { background: transparent url(../gfx/filetypes/exe.gif) 0 0 no-repeat; }
.ftl-img { background: transparent url(../gfx/filetypes/ftl.gif) 0 0 no-repeat; }
.js-img { background: transparent url(../gfx/filetypes/js.gif) 0 0 no-repeat; }
.lnk-img { background: transparent url(../gfx/filetypes/lnk.gif) 0 0 no-repeat; }
.mp2-img { background: transparent url(../gfx/filetypes/mp2.gif) 0 0 no-repeat; }
.mp3-img { background: transparent url(../gfx/filetypes/mp3.gif) 0 0 no-repeat; }
.mp4-img { background: transparent url(../gfx/filetypes/mp4.gif) 0 0 no-repeat; }
.mpeg-img { background: transparent url(../gfx/filetypes/mpeg.gif) 0 0 no-repeat; }
.mpg-img { background: transparent url(../gfx/filetypes/mpg.gif) 0 0 no-repeat; }
.msg-img { background: transparent url(../gfx/filetypes/msg.gif) 0 0 no-repeat; }
.odf-img { background: transparent url(../gfx/filetypes/odf.gif) 0 0 no-repeat; }
.odg-img { background: transparent url(../gfx/filetypes/odg.gif) 0 0 no-repeat; }
.odp-img { background: transparent url(../gfx/filetypes/odp.gif) 0 0 no-repeat; }
.ods-img { background: transparent url(../gfx/filetypes/ods.gif) 0 0 no-repeat; }
.odt-img { background: transparent url(../gfx/filetypes/odt.gif) 0 0 no-repeat; }
.other-img { background: transparent url(../gfx/filetypes/other.png) 0 0 no-repeat; }
.psd-img { background: transparent url(../gfx/filetypes/psd.gif) 0 0 no-repeat; }
.rtf-img { background: transparent url(../gfx/filetypes/rtf.gif) 0 0 no-repeat; }
.sce-img { background: transparent url(../gfx/filetypes/sce.gif) 0 0 no-repeat; }
.scs-img { background: transparent url(../gfx/filetypes/scs.gif) 0 0 no-repeat; }
.shtml-img { background: transparent url(../gfx/filetypes/shtml.gif) 0 0 no-repeat; }
.swf-img { background: transparent url(../gfx/filetypes/swf.gif) 0 0 no-repeat; }
.tif-img { background: transparent url(../gfx/filetypes/tif.gif) 0 0 no-repeat; }
.tiff-img { background: transparent url(../gfx/filetypes/tiff.gif) 0 0 no-repeat; }
.url-img { background: transparent url(../gfx/filetypes/url.gif) 0 0 no-repeat; }
.wmv-img { background: transparent url(../gfx/filetypes/wmv.gif) 0 0 no-repeat; }
.wpd-img { background: transparent url(../gfx/filetypes/wpd.gif) 0 0 no-repeat; }
.xls-img { background: transparent url(../gfx/filetypes/xls.png) 0 0 no-repeat; }
.xml-img { background: transparent url(../gfx/filetypes/xml.gif) 0 0 no-repeat; }
.xsd-img { background: transparent url(../gfx/filetypes/xsd.gif) 0 0 no-repeat; }
.xsl-img { background: transparent url(../gfx/filetypes/xsl.gif) 0 0 no-repeat; }
.zip-img { background: transparent url(../gfx/filetypes/zip.gif) 0 0 no-repeat; }
._default-img { background: transparent url(../gfx/filetypes/_default.png) 0 0 no-repeat; }
.acp-img { background: transparent url(../gfx/filetypes/acp.gif) 0 0 no-repeat; }
.asf-img { background: transparent url(../gfx/filetypes/asf.gif) 0 0 no-repeat; }
.asics-img { background: transparent url(../gfx/filetypes/asics.gif) 0 0 no-repeat; }
.avi-img { background: transparent url(../gfx/filetypes/avi.gif) 0 0 no-repeat; }
.bdoc-img { background: transparent url(../gfx/filetypes/bdoc.gif) 0 0 no-repeat; }
.bmp-img { background: transparent url(../gfx/filetypes/bmp.png) 0 0 no-repeat; }
.cdoc-img { background: transparent url(../gfx/filetypes/cdoc.gif) 0 0 no-repeat; }
.csv-img { background: transparent url(../gfx/filetypes/csv.gif) 0 0 no-repeat; }
.ddoc-img { background: transparent url(../gfx/filetypes/ddoc.gif) 0 0 no-repeat; }

.arrow-up-img {
	background: transparent url(../gfx/arrow_up.png) 0 0 no-repeat;
}
.arrow-down-img {
	background: transparent url(../gfx/arrow_down.png) 0 0 no-repeat;
}

.withoutcomponent,
.withcomponent {
	display: none;
}
.display {
	display: block;
}
.grey-text {
	color: #5C5C5B;
	text-align: left;
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 16px;
}
.sign-tbl-tr {
	background-color: white;
	border: 1px solid #E6E6E6;
	padding: 15px 9px 15px 11px;
}

.sign-tbl-td {
	padding: 15px 9px 15px 11px;
}
.sign-tbl-td-middle {
	padding: 10px 5px 10px 5px;
	position: relative;
	width: 100%;
}

.filetype-tbl-td {
	padding: 15px 9px 15px 11px;
}

.txt-overflow-mobile-sign {
	display: inline-block;
	width: fit-content;
	float: left;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	top: 4px;
	position: absolute;
}

.txt-overflow-mobile {
	display:inline-block;
	white-space: nowrap;
	max-width: 300px;
	padding: 0.5em 0.2em;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
}
.fixed-tbl {
	table-layout: fixed;
	width: 100%;
	min-width: min-content;
	max-width: max-content;
}

.dotted-txt {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display:inline-block;
}

.file-main-div {
	width:100%;
	height: 100%;
	position: absolute;
	top: 16px;
}
.file-name-div {
	width: 80%;
	float:left;
}
.file-name-div-a {
	width: 100%;
	float:left;
	position: relative;
}
.file-size-div {
	float:left;
	width: 20%;
	position: relative;
	text-align: right;
	padding-right: 15px;
}