/*
	FONTS
	*************************************************************************/
	/* *************************************************************************/
	/*
	TEXT
	******************************/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,textarea,input
	{
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: inherit;
	font-style: inherit;
}

canvas{
  width:95% !important;
  height:90% !important;
}

h2,h2 span {
/*	font: normal 16px Georgia, 'Times New Roman', Times, serif;*/
	font-size: 16px;
	font-weight: bold;
}

#actions a,#actions li,#actions span {
	font-size: 11px;
}

p {
	line-height: 16px;
}

strong {
	font-weight: bold;
}

/*
	LINKS
	******************************/
a {
	text-decoration: none;
	color: #0860b0;
}

span.condense_control{
	text-decoration: none;
	color: #0860b0;
}

a:hover,a:focus {
	text-decoration: underline;
	color: #0860b0;
}
a.button:focus, a.button:hover {
	text-decoration: none;
}

a.button {
	padding:3px;
}

#aoscModal-container a.button {
	position: relative;
	top: 12px;
}

#menu li,#menu a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	line-height: 35px;
}

#menu li.active a,#menu a:hover {
	text-decoration: underline;
}

#menu .dropdown a:hover {
	text-decoration: none;
}

.actions-menu a,.actions-menu a:hover {
	text-decoration: none;
	color: #333;
	font-size: 11px;
	line-height: 11px;
}

.actions-menu a:hover {
	border-color: #999;
}

a.action {
	padding-left: 20px;
	background: url("../images/icons/bullet-olive.png") no-repeat;
}

/*
	LOGO, CONTROL PANEL AND NAVIGATION
	*************************************************************************/
	/* *************************************************************************/
	/*
	HEADER
	******************************/
#header {
	background: url("../images/parts/header-hor-grad.png") repeat-x;
}

#logo {
	background: url("../images/parts/header-ver-grad.png") no-repeat;
	border-bottom: 1px solid #edeff0;
}

#project-name {
	border-left: solid 1px #c7e4f4;
	color: #00467b;
}

.search-box input[type="text"] {
	background: transparent url("../images/parts/search-input.png")
		no-repeat center right;
}
.search-box input[type="submit"] {
	background: transparent url("../images/parts/search-submit.png")
		no-repeat center right;
	color: #fff;
	font-weight: normal;
}

.search-box select {
	color: #444;
	font-size: 11px;
	margin-right: 5px;
}

#alfsearch_menu {
	background-color: #f1f1f1;
	border: 1px solid #D7D9DB;
}

/*
	MENU
	******************************/
#menu > ul {
	background: url("../images/parts/menu-bg.png") repeat-x;
}

#menu li {
	
}

#menu li {
	background: url("../images/parts/menu-separator.png") no-repeat center
		right;
}

#menu li a.active {
	background: url("../images/parts/menu-active-bg.png") repeat-x;
}

#menu li.dropdown a {
	background-image: none;
}

#menu > ul > li.dropdown > a {
	background: url("../images/icons/open-submenu.png") no-repeat center right;
	padding-right: 20px;
}

#menu li.dropdown > div {
	background: url("../images/parts/dropdown-menu-left.png") bottom left no-repeat;
}

#menu li.dropdown > div > span {
	background: url("../images/parts/dropdown-menu-left-top.png") top left no-repeat;
}

#menu li.dropdown div div {
	background: url("../images/parts/dropdown-menu-right.png") bottom right no-repeat;
}

#menu li.dropdown div > ul {
	background: url("../images/parts/dropdown-menu-right-top.png") top right no-repeat;
}

#menu li.dropdown div a:hover {
	text-decoration: underline !important;
}

#menu li.dropdown div > ul > li:first-child {
	border-top: 1px solid #3f5481;
}

#menu li.dropdown div > ul > li {
	border-bottom: 1px solid #3f5481;
	background-color: #354B7A;
}

#menu li.dropdown ul li a {
	background: url("../images/icons/expand-2-white.png") left 5px no-repeat;
}

#menu li.dropdown ul li.dropdown > a {
	background: url("../images/icons/collapse-2-white.png") left 5px no-repeat;
}

#menu li.dropdown  ul ul li a {
	background: url("../images/icons/expand-3-blue.png") left 5px no-repeat;
}


/*
	LEFT NAVIGATION BAR
	*************************************************************************/
	/* *************************************************************************/
	/*
	SIDEBAR
	******************************/
#sidebar {
	background: #f1f1f1 url("../images/parts/container-bg.png") repeat-x 0 0;
}

/* NAVIGATOR MENU */

		/* General */
		#sidebar ul li a {
			padding: 0 10px 0 25px;
			display: block;
			line-height: 16px;
		}
		#sidebar ul li .treeNode td:first-child {
			padding-left: 25px !important;
			height: 2px;
		}
		
		.treeNode td {
			padding: 0 !important;
		}
		
		.treeNodeLabel {
			white-space: normal !important;
		}
		
		/* Level 1 */
		#sidebar > ul > li {
			background: #fff;
			padding: 6px 0;
			border-bottom: 1px solid #f1f1f1;
		}
			#sidebar > ul > li > a {
				background: #fff url("../images/icons/folder.png") 5px 0 no-repeat;
			}
			
			#sidebar > ul > li.dropdown > a {
				background: #fff url("../images/icons/folder-plus.png") 5px 0 no-repeat;
			}
			
			#sidebar > ul > li > a, #sidebar > ul > li .treeNodeLabel {
				color: #0860b0;
				font-weight: bold;
			}
			
			#sidebar > ul > li .treeNode {
			/*margin-left: 4px;*/
			}
			
			#sidebar > ul > li .treeNodeLabel:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			
			#sidebar > ul > li .treeNode td:first-child {
				background: url("../images/icons/folder-plus.png") 4px -2px no-repeat;
			}
		
			#sidebar > ul > li.expanded > a {
				background: url("../images/icons/folder-plus.png") 5px 0 no-repeat;
			}
		
		/* Level 2 */
		#sidebar > ul > li > ul {
			border-top: 1px solid #f1f1f1;
			margin-top: 6px;
			padding-top: 3px;
		}
		
		#sidebar > ul > li > ul > li {
			padding: 2px 0;
		}
		
		#sidebar > ul > li .treeNode + .ygtvchildren .treeNode,
		#sidebar > ul > li .treeNode + .ygtvchildren {
			padding: 4px 0;
		}
		
			#sidebar > ul > li > ul > li > a,
			#sidebar > ul > li .treeNode + .ygtvchildren .treeNode td:first-child {
				background: url("../images/icons/expand-2.png") left 4px no-repeat;
			}
			#sidebar > ul > li .treeNode + .ygtvchildren .treeNode td:first-child {
				background-position: right center;
			}
			
			#sidebar > ul > li > ul > li > a,
			#sidebar > ul > li .treeNode + .ygtvchildren .treeNodeLabel {
				font-weight: normal;
				color: #555;
			}
		
			#sidebar > ul > li .treeNode + .ygtvchildren .treeNode.expanded .treeNodeLabel,
			#sidebar > ul > li > ul > li.expanded > a {
				font-weight: bold;
				text-decoration: underline;
				color: #000;
			}
			
			#sidebar > ul > li .treeNode + .ygtvchildren .treeNode.expanded td:first-child {
				background: url("../images/icons/collapse-2.png") right 4px no-repeat;
			}
			
			#sidebar > ul > li > ul > li.expanded > a {
				background: url("../images/icons/collapse-2.png") left 4px no-repeat;
			}
				
		/* Level 3 */
		#sidebar > ul > li > ul > li > ul {
			margin: 5px 0 5px 12px;
			
		}
		#sidebar > ul > li > ul > li > ul > li > a {
			background: url("../images/icons/expand-3.png") 10px 3px no-repeat;
		}
		
		#sidebar > ul > li > ul > li > ul > li > a,
		#sidebar > ul > li > ul > li > ul > li .treeNodeLabel,
		#sidebar > ul > li .treeNode + .ygtvchildren .ygtvchildren .treeNodeLabel {
			color: #0860b0 !important;
			font-size: 11px;
			line-height: 14px;
			font-weight: normal;
		}
		
		#sidebar > ul > li .treeNode + .ygtvchildren .ygtvchildren .treeNode {
			padding: 1px 0;
		}
		
		#sidebar > ul > li > ul > li > ul > li .treeNode {
			padding-top: 1px;
			padding-bottom: 1px;
		}
		
		#sidebar > ul > li > ul > li > ul > li .treeNodeLabel:hover {
			cursor: pointer;
			text-decoration: underline;
		}
		
		#sidebar > ul > li .treeNode + .ygtvchildren .ygtvchildren .treeNode td:first-child,
		#sidebar > ul > li > ul > li > ul > li .treeNode td:first-child {		
			background: url("../images/icons/expand-3.png") right 3px no-repeat !important;
		}
		
		
		#sidebar > ul > li .treeNode + .ygtvchildren .ygtvchildren .treeNode.expanded td:first-child {
			background: url("../images/icons/collapse-3.png") right 3px no-repeat;
		}
		#sidebar > ul > li > ul > li > ul > li.expanded > a {
			background: url("../images/icons/collapse-3.png") 10px 3px no-repeat;
		}
		
		#sidebar > ul > li .treeNode + .ygtvchildren .ygtvchildren .treeNode.expanded .treeNodeLabel,
		#sidebar > ul > li > ul > li > ul > li.expanded > a {
			font-weight: bold;
			color: #0860b0;
			text-decoration: none;
		}
		

/* SHELF */
#sidebar .menu {
	background-color: #fff;
}

#sidebar .menu>a {
	background-color: #fff;
	border-bottom: 1px solid #f1f1f1;
}

#sidebar .menu li a {
	color: #555;
}

#sidebar div li.clipboard-item .clipboard-item-actions {
	background: #fff;
}

#sidebar div li.clipboard-general {
	color: #666 !important;
	text-align: center;
}

/*
	CONTENT
	*************************************************************************/
	/* *************************************************************************/
	
	#container {
		background: url("../images/parts/container-bg.png") repeat-x 0 1px;
	}
	
	/*
	BREADCRUMB
	******************************/
#breadcrumb,#breadcrumb a,.breadcrumb,.breadcrumb a {
	color: #999999;
	font-size: 11px;
}

.breadcrumb {
	background: #fafafa none repeat scroll 0 0;
	border: 1px solid #D7D9DB;
}

.breadcrumb-link {
	background: url("../images/icons/breadcrumb-link.png") no-repeat 7px 5px;
	padding-left: 16px;
	font-size: 11px;
}

/*
	TITLEBAR
	******************************/
#titlebar,
#titlebar-search,
#footer-titlebar {
	border: 1px solid #d7d9db;
	background: #f1f1f1;
}

#actions .actions,
#footer-actions .actions {
	font-weight: bold;
	color: black;
	text-decoration: none;
}

#actions > span,
#footer-actions > span{
	font-weight: bold;
}

.wizard-steps li {
	background: url("../images/icons/wizard-next.png") no-repeat left center;
}

.wizard-steps li.current span {
	background-color: #1a477c;
	color: #fff;
	font-weight: bold;
}

.dropdown-menu li,.actions-menu li {
	border: 1px solid #fbfbfb;
	background: #f1f3f5 url("../images/parts/button-actions-bg.png")
		repeat-x;
}

.dropdown-menu a,.dropdown-menu .disabled,.actions-menu a {
	border: 1px solid #d7d9db;
}

.dropdown-menu .disabled {
	color: #ccc;
}

.extra-actions li {
	background: #dcdedf url("../images/parts/button-actions-alt-bg.png")
		repeat-x;
}

.extra-actions li a {
	border-color: #bbbfc3;
}

.extra-actions li a.icon-link {
	line-height: 11px;
	height: 11px;
}

.dropdown-menu {
	background: #F1F1F1;
	border: 1px solid #ccc;
}

/*
	PANELS
	******************************/
.panel-wrapper {
	border: 1px solid #D7D9DB;
}

.panel-wrapper h3 {
	background: url("../images/parts/panel-wrapper-bg.png") repeat-x;
	font-weight: bold;
}

.panel-wrapper h3 a {
	color: #000;
	cursor: pointer;	
}

.panel-border {
	border-top: 1px solid #D7D9DB;
}

.message {
	background: #ECFAFF;
	border: 1px solid #99D6F9;
	line-height: 16px;
}

.message-red {
    background: #FFEFEF;
	border: 1px solid #C9101A;
	line-height: 16px;
}

.syserror-wrapper {
	padding: 20px;
	overflow: auto;
}

.sys-error-details {
	border: 1px solid #C9101A;
	line-height: 18px;
	overflow: auto;
	background: #FFEFEF;
	margin-bottom: 20px;
	padding: 10px;
}

.message .error-message,.message .info-message {
	background: transparent url(../images/icons/wizard-next.png) no-repeat
		left center;
}

.message .error-message {
	color: #C9101A;
}

.message .info-message {
	color: rgb(0, 115, 230);
}

/*
	TABLES
	******************************/
th,
td span.th {
	font-weight: bold;
	padding: 0 2px;
	padding-bottom: 5px;
}

thead th {
   border-bottom: 1px dotted #cacfd3;
}

tfoot th {
   border-top: 1px dotted #cacfd3;
   padding-bottom: 0;
   padding-top: 5px;
}

tr.th td {
	border: none;
}

th,
th a,
th span,
td span.th {
	color: #1f426d;
}

tr.recordSetRow td, tr.recordSetRow td span, tr.recordSetRow td a,
tr.recordSetRowAlt td, tr.recordSetRowAlt span, tr.recordSetRowAlt td a,
td.more-actions-column a {
	font-size: 12px;
}

tr.recordSetRowAlt,.odd {
	background: #efefef;/*#f9f9f9;*/
}

tr.task td:first-child a:first-child {
	background: url("../images/icons/bullet-olive.png") no-repeat;
}

tr.overdue td:first-child a {
	color: #ed2024;
}

tr.overdue td:first-child a:first-child {
	background: url("../images/icons/bullet-red.png") no-repeat;
}

tr.row-highlight {
	background-color: #E8EFFF;
}

.rowDeleted{
	color: #ff0008;
	text-decoration: line-through;
}

/* PAGE CONTROLS */
.page-controls * {
	color: #666 !important;
}

.page-controls select {
	vertical-align: text-bottom !important;
	min-height: 18px !important;
	height: 18px !important;
}

.pager-wrapper {
	background: #f8f9fa;
	border-top: solid 1px #d7d9db;
	color: #666 !important;
}

.pager {
	color: #666 !important;
}

.pager a,
.task-list-pager a{
	color: #666;
	text-decoration: none;
}

/*
	CONTAINER CONTROLS
	******************************/
.container-buttons {
	border: 1px solid #d7d9db;
	background-color: #f1f1f1;
	text-align: center;
}

#titlebar-dialog-buttons-panel,
#titlebar-wizard-buttons-panel,
#footer-titlebar-dialog-buttons-panel,
#footer-titlebar-wizard-buttons-panel {
	float: right;
	margin-top: -1px;
}

.dialog-button {
	margin-left: 5px;
}

.dialog-button.primary {
	margin-right: 5px;
}

/*
	GENERIC BUTTONS
	******************************/
button, 
input[type="submit"]
, a.button {
	background: url("../images/parts/button-submit-bg.png") repeat-x;
	color: #fff;
	font-weight: bold;
	border: none;
}

button:hover, button:focus,
input[type="submit"]:hover, input[type="submit"]:focus
, a.button:hover, a.button:focus{
	background-position: 0 -23px;
}

button:active,
input[type="submit"]:active
, a.button:active {
	background-position: 0 -46px;
}

input[disabled="disabled"],
input[disabled],
input[disabled="disabled"]:hover,
input[disabled]:hover,
a.button.disabled {
	background-position: 0 -69px;
	font-weight: normal;
}

input[readonly="readonly"],
input[readonly] {
	background: #ddd !important; /* overrides various background images */
	border: 1px solid #888;
}
textarea[readonly="readonly"],
textarea[readonly],
select[disabled="disabled"],
select[disabled] {
	background: #ddd !important;
	border: 1px solid #888;
}

/*
	FOOTER
	*************************************************************************/
	/* *************************************************************************/
#footer {
	background: #f8f8f8;
	border-top: 1px solid #e1e3e4;
	color: #8c8c8c;
	line-height: 16px;
}

/*
	VIEWS
	*************************************************************************/
	/* *************************************************************************/
	/*
	USER CONSOLE
	************************************/
#avatar-frame {
	border: 1px solid #efefef;
}

.user-bio div {
	border-top: 1px dotted #ccc;
}

.userPropertyValue {
	border-bottom: 1px dotted #CCCCCC;
}

/*
	TRASHCAN
	*********************************/
.trashfilter-list {
	background: #FAFAFA none repeat scroll 0 0;
	border: 1px solid #D7D9DB;
}

/*
	ADD CONTENT
	************************************/
.dialogpanel-title {
	border-bottom: solid 1px #efefef;
}

.block {
	display: block;
}

/*
	LOGIN
	************************************/
#login-container {
	border: 1px solid #cacfd3;
}

#login-container * {
	color: #343434;
}

.login-instructions {
	border-bottom: solid 1px #cacfd3;
	font-weight: bold;
}

#login-footer {
	border-top: 1px solid #cacfd3;
}

.login-submit {
	color: #fff !important;
	font-weight: normal !important;
	background: url(../images/parts/button-blue-bg.png) repeat-x center 2px
		!important;
	border: none !important;
}

#login-footer a, #login-container a {
	color: rgb(7, 86, 167);
}

#no-cookies {
	background: #F9F9F9;
	border-top: 1px solid #cacfd3;
}

.login-error {
	border-top: 1px solid #EEEEEE;
	color: red !important;
	font-weight: bold;
	text-align: center;
}

/*
	WIZARD
	************************************/
.wizard-step-description {
	border-bottom: 1px solid #ededed;
}

.wizard-step-instructions {
	border-top: 1px solid #ededed;
	font-weight: bold;
}

/*
	DETAILS
	******************************/
#space-actions {
	background: #F1F1F1 none repeat scroll 0 0;
	border: 1px solid #D7D9DB;
	border-top: none;
}

/*
	ICONS
	******************************/
.collapse {
	background: url("../images/icons/collapse.png") no-repeat left center;
}

.expand {
	background: url("../images/icons/expand.png") no-repeat left center;
}

.folder {
	background: url("../images/icons/folder-small-gray.png") no-repeat 7px center;
}

.file {
	background: url("../images/icons/file-small-gray.png") no-repeat 7px center;
}

.search {
	background: url("../images/icons/search-small-gray.png") no-repeat 7px center;
}

hr {
	border: none;
	border-top: 1px dotted #ccc;
	margin: 10px 0;
}

.propertiesLabel {
	text-align: right;
	font-weight: bold;
	vertical-align: top;
	line-height: 15px;
    padding-top: 3px;
}

.propertiesLabel + td .propertiesLabel,
.propertiesLabel + td .propertiesLabel + td {
	padding-top: 0px;
	padding-bottom: 0px;
}

.propertiesLabel + td .propertiesLabel {
	padding-left: 5px;
}

.secondary {
	font-weight: normal;
}

.sublabel {
	font-weight: normal;
}

.propertiesLabel + td {
	line-height: 15px;
	padding: 3px 0 3px 10px;
	/*vertical-align: bottom;*/
	vertical-align: middle;
}

#container-content select, #container-content textarea {
	height: 19px;
	line-height: 19px;
	vertical-align: top;
}

#container-content select {
	min-height: 19px; 
}

#container-content select[multiple="multiple"], #container-content select[multiple] {
	height: auto;
}

#container-content input[type="text"] {
	height: 17px;
	padding-top: 2px;
}

.propertiesLabel + td table td select,
.propertiesLabel + td table td textarea {
	vertical-align: middle;
}

td table.tasks td{
   vertical-align:top !important;
}

.propertiesLabel + td table.recipient td {
	vertical-align: middle;
}

.propertiesLabel + td table.tasks td {
	vertical-align: top;
}

.propertiesLabel + td td,
.propertiesLabel + td td span input {
/*	line-height: 20px; used to be 20px, but ruined label and value alignment in subpropsheets*/
	line-height: 15px;
	/*vertical-align: top; -- ruined workflow dialog on document (stopOnFinish)*/
	vertical-align: middle; 
}

textarea {
	width: 100%;
}

input.text {
	width: 320px;
}

span.tiny input, input.tiny, textarea.tiny, select.tiny {
	width: 30px !important;
	min-width: 30px !important;
}

span.small input, input.small, textarea.small, select.small {
	width: 80px !important;
	min-width: 80px !important;
}

.width40 {
	width: 40px !important;
	min-width: 40px !important; 
}

.width50 {
	width: 50px !important;
	min-width: 50px !important; 
}

.width60 {
	width: 60px !important;
	min-width: 60px !important; 
}

.width70 {
	width: 70px !important;
	min-width: 70px !important; 
}

.width80 {
	width: 80px !important;
	min-width: 80px !important; 
}

.width100 {
	width: 100px !important;
	min-width: 100px !important; 
}

.width120 {
	width: 120px !important;
	min-width: 120px !important; 
}

.width130 {
	width: 130px !important;
	min-width: 130px !important; 
}

.width140 {
	width: 140px !important;
	min-width: 140px !important; 
}

.width160 {
	width: 160px !important;
	min-width: 160px !important; 
}

.width180 {
	width: 180px !important;
	min-width: 180px !important; 
}

.width190 {
	width: 190px !important;
	min-width: 190px !important; 
}

.width250 {
	width: 250px !important;
	min-width: 250px !important; 
}

span.medium, span.medium input, input.medium, textarea.medium, select.medium {
	width: 200px !important;/*153px !important;*/
	min-width: 200px !important;
}

span.long, span.long input, input.long, textarea.long, select.long {
	width: 400px !important;
	min-width: 400px !important;
}

.multiE > thead > tr > th {
	padding-right: 6px;
}

.multiE {
	margin-bottom: 5px;
}

table.multiE td {
	padding-bottom: 3px;
	padding-top: 3px;
}

input.spacing-top {
	margin-top: 5px;
}

.suggest-wrapper {
	background:#FFFFFF url(../images/icons/ui-menu.png) no-repeat scroll right 2px;
	padding-right:18px;
	cursor:pointer;
	display: block;
	width: 406px;
}

.multiE .suggest-wrapper {
	width: auto;
}

#container-content .multiE td select {
	max-width: 226px;
}

.suggest-wrapper textarea.suggest {
	background: transparent;
	overflow: hidden;
}

input.readonly {
	background-color: #ddd;
}

.center {
	text-align: center;
}

.left {
	text-align: left !important;
}

.inline-center {
	display: block;
	text-align: center;
}

input.inline {
	border: none;
	border-bottom: solid 1px #888;
}
textarea.inline {
	border: none;
	border-bottom: solid 1px #888;
/* TODO: lisa triibuline taust, mis kujutaks ridu */
}

.remove-person {
	background: url("../images/icons/remove_user.gif") no-repeat;
	line-height: 20px;
}

.add-person {
	background: url("../images/icons/add_user.gif") no-repeat;
	line-height: 20px;
}

.add-default {
	background: url("../images/icons/add.gif") no-repeat;
	line-height: 20px;
}

.edit-person {
	background: url("../images/icons/edituser.gif") no-repeat;
	line-height: 20px;
}

.add-item {
	background: url("../images/icons/add_item.gif") no-repeat;
	line-height: 20px;
}

.remove-item {
	background: url("../images/icons/remove_item.gif") no-repeat;
	line-height: 20px;
}

.add-item {
	background: url("../images/icons/add_item.gif") no-repeat;
	line-height: 20px;
}

.add-catering {
	background: url("../images/icons/cutlery.png") no-repeat;
	line-height: 20px;
}

.add-expense {
	background: url("../images/icons/money_euro.png") no-repeat;
	line-height: 20px;
}

.delete {
	background: url("../images/icons/delete.gif") no-repeat;
	line-height: 20px;
}

.version_history {
	background: url("../images/icons/version_history.gif") no-repeat;
	line-height: 20px;
}

.reset {
	background: url("../images/icons/trashcan.gif") no-repeat;
	line-height: 20px;
}

.cancel-task {
	background: url("../images/icons/cancel_workflow.gif") no-repeat;
	line-height: 20px;
}

.print {
	background: url("../images/icons/print.gif") no-repeat;
	line-height: 20px;
}

.finish-task {
	background: url("../images/icons/completed_workflow_item.gif") no-repeat;
	line-height: 20px;
}

.search {
	background: url("../images/icons/search_icon.gif") no-repeat;
}

.pdf {
	background: url(../images/filetypes/pdf.png) no-repeat;
}

.doc {
	background: url(../images/filetypes/doc.png) no-repeat;
}

.ddoc {
	background: url(../images/filetypes/ddoc.gif) no-repeat;
}

.xls {
	background: url(../images/filetypes/xls.gif) no-repeat;
}

.add_date {
	background: url(../images/icons/add_date.png) no-repeat;
	line-height: 20px;
}

.plus {
	background: url(../images/icons/plus.gif) no-repeat;
	line-height: 20px;
}

.minus {
	background: url(../images/icons/minus.gif) no-repeat;
	line-height: 20px;
}
/*
table.recipient th {
	line-height: 20px;
	font-size: 12px;
}

.subtable {
	border: dotted 1px #ddd;
	background: #efefef;
}

.subtable table {
	padding: 5px;
	background: #fff;
	border: 1px solid #ccc;
}
*/

#container-content td input[type="text"], 
#container-content td textarea, 
.subPropSheet > tbody > tr > td > input[type="text"],
.subPropertySheetTR td input[type="text"], 
.subPropertySheetTR td textarea {
	width: 325px;
	padding-left: 2px;
	padding-right: 2px
}

#container-content .workflow-panel textarea {
	width: 360px;
}

.workflow-panel .panel-wrapper h3 a {
	padding-right: 115px;
}

#container-content td select {
	min-width: 170px;
	height: 22px;
	font-size: 12px;
}

#container-content #pref-panel td select {
	min-width: 170px;
}

#container-content .subPropertySheetTR select {
	min-width: 100px;
	width: auto;
}

#metadata-panel table.subPropSheet,
#metadata-panel table:first-child {
	width: 100%;
	table-layout: fixed;
}

#metadata-panel-panel-border > div > table {
	table-layout: fixed;
}

#container-content table.recipient {
	width: auto;
}

/*
.subPropertySheetTR .propertiesLabel + td > input {
	width: 300px !important;
}
*/

.subPropertySheetTR > td {
	padding-top: 15px;
}

.subPropSheet input[type="text"],
.subPropSheet .propertiesLabel + td > span {
	vertical-align: top;
}

.footer-component {
	display: block;
    margin: 5px 0 5px 180px;
}

.subPropertySheetTR.borderless > td {
	padding-top: 0px;
}

#container-content td td input[type="text"] {
/*	width: 400px;*/
}

input.date,
input.disabled-date,
.modalpopup-filter.modalpopup-content-inner table td input.date {
	background:#FFFFFF url(../images/icons/ico_cal.gif) no-repeat scroll right 35%;
	cursor:pointer;
	padding-right:18px !important;
	width:65px !important;
	text-align: center;
	vertical-align: top;
}

input.disabled-date,
input.disabled-time {
	background: none;
	padding-right: 9px;
	padding-left: 9px;
}

input.time,
input.disabled-time {
	width:40px !important;
	text-align: center;
	vertical-align: top;
}


#container-content .modalpopup-content input {
	width: auto;
}

#container-content div.modalpopup-content td select[multiple="multiple"] {
	width: 100% !important;
}

#send-out-panel td #editor {
    width: 600px; 
    height: 315px;
}

#send-out-panel td td select {
	width: 140px;
}

#send-out-panel td th {
	border-bottom: 0px none;
}

#send-out-panel .modalpopup-content-inner td input[type="text"] {
	width: 216px !important;
	margin-left: 5px;
}

td.requiredField {
    vertical-align: top;
}

img.requiredField {
    vertical-align: -12px;
}

/* style for component that enables to create new case while creating document */

#aoscModal-container {
	padding-left: 5px;
	padding-right: 5px;
}

#aoscModal-container table,
.assignCaseInput {
	width: 100%;
}

#aoscModal-container table {
	margin-top: 10px;
}

input[type="radio"].aoscModal-selectCase,
input[type="radio"].aoscModal-newCase {
	margin-right: 4px;
	margin-bottom: 5px;
	vertical-align: middle;
}

#aoscModal-container input[type="submit"] {
	margin: 10px 0;
}

#aoscModal-container-modalpopup {
	height: 170px;
}

table.expand19-200 {
	width: 200px;
}
.classificatorTextArea{
	height: 19px;
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 2px;
    padding-right: 2px;
    width: 300px !important;
	}
	
.table-padding td {
	padding-top: 3px;
	padding-bottom: 3px;
}

.delegationReso {
	margin-top: -3px;
	margin-left: 5px;
}

.delegationWrapper {
	border-bottom: 1px dotted gray;
	padding-bottom: 8px;
	display: block;
}

.borderless {
	border-bottom: none;
}

.delegateBtn {
	margin-top: 6px !important;
	margin-bottom: 4px;
}

.taskOutcome {
	margin-bottom: 5px;
}

table.recipient td {
	padding-right: 6px;
}

.recipient.padding td,
.recipient.padding th {
	padding: 0 3px;
}

.recipient.cells2 textarea {
	width: 193px !important;
}

.recipient.cells3 textarea {
	width: 171px !important;
}

.recipient.cells4 textarea {
	width: 126px !important;
}

.recipient.cells5 textarea {
	width: 98px !important;
}

.recipient.cells6 textarea {
	width: 98px !important;
}

.recipient.tasks thead tr th {
   border-bottom: 0px none;
}

.recipient.tasks tbody td {
	height: 20px;
}

.icon-link {
	cursor: pointer;
}

.file-list {
	margin-top: 5px;
}

.red {
	color: red;
}

.margin-left-4 {
	margin-left: 4px;
}

.margin-right-4 {
	margin-right: 4px;
}

.margin-top-10 {
	margin-top: 10px;
}

.overflow-wrapper {
	overflow-x: scroll;
}

.overflow-wrapper th, 
.overflow-wrapper td
 {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.overflow-wrapper td a {
	white-space: nowrap !important;
}

/* =modalpopup
-------------------------------------------------- */
#overlay,
.submit-protection-layer {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 90000 !important;
	width: 100%;
	height: 100%;
	background: #808080;
	opacity: 0.5;
	filter:alpha(opacity=50);
}

.submit-protection-layer {
   display: block;
   z-index: 100000 !important;
   cursor: wait;
   filter: alpha(opacity=0);
   -moz-opacity: 0;
   opacity: 0;
}

#submit-protection-msg {
	background: red;
}

DIV.modalwrap {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 90000 !important;
	/*width: 450px;*/
	width: 503px;
	height: auto;
	margin: -250px 0 0 -250px;
	padding: 0;
	text-align: left;
}
DIV.modalpopup-large {
	width: 780px !important;
	margin-left: -390px !important;
}
DIV.modalwrap TABLE.data,
DIV.modalwrap TABLE.form {
	width: 100% !important;
}
DIV.modalpopup {
	display: none;
	padding: 4px;
	border: 1px solid;
	border-color: #b2b2b2 #808080 #808080 #b2b2b2;
	background: #fff;
	text-align: left;
}

/* header */

DIV.modalpopup-header {
	height: 35px;
	padding: 0 15px;
	background: #00467B url(../images/parts/menu-bg.png);
	color: #fff;
}
DIV.modalpopup-header H1 {
	float: left;
	width: 75%;
	margin: 10px 0 0;
	border: none;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	white-space: nowrap;
}
DIV.modalpopup-header P.close {
	float: right;
	overflow: hidden;
	margin-top: 9px;
}
DIV.modalpopup-header P.close A {
	float: left;
	padding: 0 16px 0 0;
	border: none;
	background: url(../images/icons/bg_close.gif) no-repeat 100% 3px;
	color: #fff;
	outline: none;
	text-decoration: none;
}
DIV.modalpopup-header P.close A:hover {
	background-position: 100% -36px;
	color: #fff;
	text-decoration: underline;
}

/* content */

DIV.modalpopup-content {
	/*min-height: 200px;*/
	max-height: 470px;
	overflow: auto;
	overflow-y: auto;
	overflow-x: hidden;
}
DIV.modalpopup-content-inner {
	/*padding: 3px 15px 11px;*/
	padding: 11px 15px;
}
DIV.modalpopup-content TABLE.form TH {
	width: 25%;
}
DIV.modalpopup-content TABLE.form TD {
	width: 75%;
}
DIV.modalpopup-content TABLE.form TD INPUT.text {
	width: 200px;
}
DIV.modalpopup-content TABLE.form TD INPUT.small {
	width: 100px;
}
DIV.modalpopup-content TABLE.form TD INPUT.min {
	width: 50px;
}
DIV.modalpopup-content TABLE.form TD INPUT.wide {
	width: 90%;
}

/* footer */

DIV.modalpopup-footer {
	padding: 0 15px 8px;
	border-top: 1px solid #d0d0d0;
	background: #e8e8e8;
}
DIV.modalpopup-footer P {
	margin: 0;
	padding: 8px 0 0 !important;
	border: none !important;
	background: none !important;
}
DIV.modalpopup-footer P.action {
	text-align: right;
}


/* =IE fixes
-------------------------------------------------- */
* HTML DIV.modalpopup-content {
	height: 470px;
}
* html DIV.modalpopup-content TABLE {
	width: 740px;
}

/* =tooltip
-------------------------------------------------- */
#tooltip,
#tooltip *{
	color: #000;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

#tooltip{
	position: absolute;
	z-index: 3000;
	max-width: 320px;
	padding: 5px;
	border: 1px solid;
	border-color: #D7D9DB;
	background: #F1F1F1;
	opacity: 0.95;
	outline: 1px solid #fff;
}
#tooltip H3{
	margin: 0;
	border: none;
}
#tooltip DIV{
	display: none !important;
}

.subPropertySheetTD span {
	float: right;
}
.subPropertySheetTD table {
	clear: right;
}

.taskOverdue span,
.taskOverdue a {
	/*color: #C11920;*/
	color: red;	
}
.incomingLetter span,
.incomingLetter a {
	color: #0860B0;	
}
.outgoingLetter span,
.outgoingLetter a {
	color: #1A8922;	
}

.genericDocument span,
.genericDocument a {
	color: black;	
}

/* FORUMS */

.new-post-bubble {
	border: 1px solid #1B86CD;
	 
}

.reply-to-bubble {
	border: 1px solid #1B86CD; 
}

.bubble-header-contents {
	border: 5px solid #fff;
	background-color: #f1f1f1;
}

.reply-to-bubble .bubble-header-contents {
	background-color: #f1f1f1;
}

.bubble-creator-name {
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	margin-bottom: 5px;
	position: relative;
}

.new-post-bubble td,
.reply-to-bubble td {
	padding: 10px;
}

.bubble-header-contents td {
	padding: 3px 0;
}

.bubble-actions {
	position: absolute;
	right: 0px;
	top: -1px;
}

.center {
	text-align: center;
}

/* WORKFLOW */

/*******************/

.compound-workflow-table {
	width: 100%;
}

.workflow-table {
	width: 99%;
}

.task-table {
	width: 99%;
}
                 

#workflow-summary-panel table {
	
	border-collapse: collapse;
}

#workflow-summary-panel .compound-workflow-table {

}

.compound-workflow-table .header td {
	font-weight: bold;
	border-top: 2px solid #ccc;
}

#workflow-summary-panel .compound-workflow-table > tbody {
	background-color: #F0F0F0;
}

#workflow-summary-panel .compound-workflow-table > tbody tr.compound-details td {	
	border-bottom: 1px solid #ccc;
}

#workflow-summary-panel .compound-workflow-table > tbody td {
	padding: 5px;
}

.workflow-table {
	padding: 10px 15px 0;
	margin: 10px;
}

.workflow-table tbody .workflow-header td {
	border-bottom: 1px solid #ccc;
	padding-bottom: 7px;
	line-height: 18px;
}

.workflow-table .workflow-conf {
	font-weight: bold;
	margin: 0 10px 0 6px;
}

.workflow-table td table {
	margin-top: 10px 0 12px;
}	

.task-table {
	margin: 10px 4px;
}

.task-table td {
	padding: 0 3px;;
	line-height: 18px;

}

.task-table tr:first-child td {
	font-weight: bold;
	border-bottom: 1px dotted #cacfd3;
	padding: 0 2px;
}

.short-resolution {
	width: 298px !important;
}

/*******************/
/*
.workflow-row td {
	border-top: 10px solid #fff;
	background-color: #F7F7F7;
}

.workflow-task-details {
	padding-top: 0 !important;
}

.workflow-task-details * {
	font-size: 12px !important;
}

.workflow-task-details td {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}


.task-details-resolution,
.workflow-resolution td {
	padding: 5px 25px 10px;
	background-color: #F7F7F7;
	border-bottom: 2px solid #ccc;
	margin-bottom: 5px;
}

.toggle-task-view {
	margin: 0 4px;
}

.workflow-details > td {
	padding-bottom: 20px;
}

.workflow-details.last > td {
	padding-bottom: 0px;
}
*/
.task-sheet-buttons {
	display: block;
	margin: 10px 0 0 130px;
}

.task-sheet-buttons input {
	margin-left: 5px;
}

.up4px {
	vertical-align: -4px;
}

.bold {
	font-weight: bold;
}

TH A.header-wrap {
   white-space: normal !important;
}

.selectBoundWithText {
	margin-bottom: 6px;
}

.no-wrap {
	white-space: nowrap;
}

/*
#assign-responsibility-panel input[type=text] {
	width: 200px !important;
}
*/

#add-authority-search table.generic-picker select {
	min-width: 160px;
}

.workflow-task-block .propertiesLabel {
	width: 125px;
}

.workflow-task-block .propertiesLabel + td {
	width: auto;
}

.inline {
	display: inline;
}

.long-content-wrapper {
	position: relative;
}

.long-content {
	background-color: #fff;
	display: none;
	position: absolute; 
	padding: 4px;
	top: -5px;
	left: -5px;
	border: 1px solid #888;
	z-index: 1000;
	min-width: 150px;
	max-width: 400px;
}

.recordSetRowAlt .long-content {
	background-color: #efefef;
}

.long-content-wrapper.has-content:hover span,
.long-content-wrapper.has-content:hover a {
	visibility: hidden;
} 

.long-content-wrapper:hover .long-content,
.long-content-wrapper:hover .long-content a,
.long-content-wrapper:hover .long-content span,
.long-content-wrapper.has-content:hover .long-content,
.long-content-wrapper.has-content:hover .long-content a,
.long-content-wrapper.has-content:hover .long-content span {
	visibility: visible;
	display: block;
}

.no-underline:hover {
	text-decoration: none;
}

.left99 {
	margin-left: 99px;
}

.left44 {
	margin-left: 44px;
}

#el-logo {
	margin: 20px 0 0 25px;
	padding: 20px;
	background: #fff url(../images/logo/logo_euro2.png) no-repeat scroll 20px 20px;
	overflow: hidden;
	height: 51px;
	text-indent: -5000px;
	width: 116px;
}

select.genericpicker-filter{
	margin-right: 3px;
	min-width:10px !important;
	width:auto !important;
}

/* richlist viewMode="detailsMultiTbody"
----------------------------------*/

table.detailsMultiTbody td.expanded, td.collapsed {
	width: 26px;
	cursor: pointer;
}

table.detailsMultiTbody tbody.tbGroup td.expanded {
	background: #e9ecef url("../images/icons/minus.gif") no-repeat 50% 50%;
}

table.detailsMultiTbody tbody.tbGroup td.collapsed {
	background: #e9ecef url("../images/icons/plus.gif") no-repeat 50% 50%;
}

.users {
	background: #e9ecef url("../images/icons/users.gif") no-repeat 50% 50%;
	width: 16px;
}

table.detailsMultiTbody th {
	padding-top: 6px;
	border-bottom: none;
	background: #1c497e;
	color: #fff;
	text-align: center;
}

table.detailsMultiTbody th SPAN {
	color: #fff;
}
table.detailsMultiTbody .grHeader {
	background-color: #e9ecef;
}
table.detailsMultiTbody .grHeader TD {
	padding-top: 5px;
	padding-bottom: 5px;
}
table.detailsMultiTbody .tbGroup .recordSetRow TD {
	border-bottom: 1px solid #eee;
	background-color: #fff;
}

table.detailsMultiTbody .tbGroup .recordSetRow TD:first-child {
	border-color: #fff;
}

.grHeader{
	height:18px;
}

table.detailsMultiTbody tbody tr:first-child td {
	border-bottom: 1px solid #fff;
}

table.detailsMultiTbody td{
	vertical-align: middle;
}
table.detailsMultiTbody td{
	text-align: center;
}

table.privileges{
	margin-top: 10px;
}

/* hack for IE for rows that don't have remove link */
table.privileges .linkReplacement{
	height: 16px;
}

/* hack with JS to show tooltips for disabled checkboxes */
div.panel.tooltip{
	position: absolute;
	width: 100%;
	height: 100%;
}
.detailsMultiTbody td{
	position: relative;
}
/* END: hack to show tooltips for disabled checkboxes */

textarea.borderless{
	background:transparent;
	border: none;
}

.workflow-separator {
	border-top: #333 dotted 1px;
}

.printTableHeadings {
	text-align: left;
	font-weight: bold;
	vertical-align: center;
	line-height: 15px;
	/* width: 10%; */
}

/* Transaction block styles */

TR.trans-recordSetRow2 TD {
	padding: 5px;
	vertical-align: top;
}

TR.trans-recordSetRowAlt2 TD {
	padding: 5px;
	vertical-align: top;
	background: #f8f8f8;
}

DIV.trans-subrow-toggle {
	display: block;
	margin-bottom: 1em;
}

DIV.trans-subrow-toggle A {
	padding-left: 18px;
	background: url("../images/icons/bg_details.gif") no-repeat 0 2px;
}

DIV.trans-subrow-toggle A.close {
	background-position: 0 -48px;
}

DIV.trans-subrow-toggle SPAN {
	margin: 0 3px;
	color: #999;
}

TR.trans-subrowAlt TD {
	padding: 10px 31px;
	background: #f8f8f8 url("../images/icons/bg_subrow.gif") repeat-x 0 100%;
}

TR.trans-subrow TD {
	padding: 10px 31px;
	background: url("../images/icons/bg_subrow.gif") repeat-x 0 100%;
}

TR.trans-subrow TD TD {
	padding: 2px 5px;
	background: none;
	vertical-align: top;
}

TR.trans-subrowAlt TD TD {
	padding: 2px 5px;
	background: none;
	vertical-align: top;
}

TR.trans-subrow P {
	margin: 0;
	line-height: normal;
}

TR.trans-subrowAlt P {
	margin: 0;
	line-height: normal;
}

TR.trans-subrow TABLE {
	width: 100%;
}

TR.trans-subrowAlt TABLE {
	width: 100%;
}

TR.trans-subrow TH {
	font-weight: bold;
	padding-left: 7px;
	border: none !important;
	color: #666;
}

TR.trans-subrowAlt TH {
	font-weight: bold;
	padding-left: 7px;
	border: none !important;
	color: #666;
}

TD.trans-toggle-subrow {
	width: 1%;
}

TD.trans-toggle-subrow A {
	display: block;
	width: 10px;
	height: 12px;
	overflow: hidden;
	background: url("../images/icons/bg_subrow_toggle.png") no-repeat 0 2px;
	text-indent: -5000px;
}

TD.trans-toggle-subrow A:hover,

TD.trans-toggle-subrow A:focus {
	background-position: -23px 2px;
}

TD.trans-toggle-subrow A.open {
	background-position: -46px 2px;
}

TD.trans-toggle-subrow A.open:hover,

TD.trans-toggle-subrow A.open:focus {
	background-position: -69px 2px;
}

INPUT.trans-wide {
	width: 120px;
}

INPUT.trans-text {
	width: 95px;
}

INPUT.trans-min {
	width: 50px;
}

.trans-sum TD {
	padding: 6px;
}

.trans-sum STRONG {
	margin-right: 1em;
}

.trans-align-right {
	text-align: right;
}

.trans-width-10 {
	whitespace: normal;
	width: 10%;	
}

DIV.trans-scroll {
	min-width: 718px;
	margin: 1em 0 .5em;
	padding: 8px 0px 10px;
	border: 1px solid #eee;
	background: #fff;
	overflow: auto;
	overflow-x: auto;
}

DIV.trans-scroll TABLE {
	margin: 0;
}

* HTML DIV.trans-scroll {
	width: expression(document.body.clientWidth < 720? "718px" : document.body.clientWidth > 1902? "1900px" : "auto");
}

/* End transaction block styles */

.hidden,
.hiddenMenuItem {
	display: none;
}

.signatureModalWrap {
	display: block;
	height: 143px;
}

.fieldExtraInfo{
   display:block;
   color: red;
   margin-bottom: 5px;
}

.ui-autocomplete { 
	height: 200px; 
	overflow-y: scroll; 
	overflow-x: hidden;
}

.vertical-align-middle {
	vertical-align: middle;	
}

.padding-3 {
   padding: 3px !important;
}

.workflow-confirmation-messages, .workflow-after-confirmation-link, .workflow-delegation-confirmation-messages, .workflow-after-delegation-confirmation-link {
   display: none;
}

#dialog\:dialog-body\:tableSendOut .recipient.hiddenIdCode th:nth-child(2),
#dialog\:dialog-body\:tableSendOut .recipient.hiddenIdCode .sendOutIdCode,
#dialog\:dialog-body\:tableSendOut .recipient.hiddenIdCode .sendOutPersonIdCode {
   display: none;
}

#dialog\:dialog-body\:tableSendOut .recipient.hiddenIdCodeAndPersonId th:nth-child(2),
#dialog\:dialog-body\:tableSendOut .recipient.hiddenIdCodeAndPersonId th:nth-child(4),
#dialog\:dialog-body\:tableSendOut .recipient.hiddenIdCodeAndPersonId .sendOutIdCode,
#dialog\:dialog-body\:tableSendOut .recipient.hiddenIdCodeAndPersonId .sendOutPersonIdCode {
   display: none;
}

.rightButton {
	padding: 1px 20px;
	margin-top: 5px; 
	float:right;
	background: url(../images/parts/button-submit-bg.png) repeat-x;
    color: #fff;
    font-weight: bold;
    border: none;
}
